/* css reset */
body{
    margin:0px;
    padding: 0px;
    background-color: #9a65da;
}
#container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    height: 10vh;
}
#dp #img{
    /* border: 2px solid red; */
    display: inline-block;
    width: 8vw;
    height: 9vw;
    border-radius: 50%;
    margin: 0.2em;
    margin-top: 0.3em;
    padding: 0.3em;
}
#greet{
    display: inline-block;
    /* border: 2px solid red; */
    font-family: 'Pacifico', cursive;
    align-self: center;
    font-size: 4vw;
}
#back{
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    padding-right: 1vw;
    padding-left: 1vw;
    margin-right: 1vw;
    margin-left: 1vw;
    border-radius: 30px;
    background-color: black;
    text-decoration: none;
    color: white;
    font-family: 'Pacifico', cursive;
    align-self: center;
    font-size: 1.5vw;
}
#back:hover{
    background-color: rgba(74, 73, 73, 0.493);
    color: rgb(37, 36, 36);
}
.container{
    /* display: flex; */
    /* border: 2px solid red; */
    margin-top: 8em;
    width: 100vw;
    background-color: rgb(48, 33, 99);
    color: rgba(255, 255, 255, 0.82);
    
}
#hello{
    /* border: 2px solid red; */
    display: flex;
    width: 80vw;
    margin: auto;

    justify-content: space-between ;
}
#hello li{
    text-decoration: none;
    list-style: none;
    font-family: 'Water Brush', cursive;
    font-size: 4em;
    text-shadow: 0.015em 0.015em #3c0d79;
}
#para{
    display: flex;
    /* border: 2px solid red; */
    width: 75vw;
    font-size: 2.5em;
    font-family: 'Caveat', cursive;
    text-align: center;
    margin-left: 13.5vw;
    margin-right: 11.5vw;
    line-height: 1.5em;
    
}